/* navbar của duyên */
.my-nav-bar {
    background-color: #1B1B1B;
    color: white;
    position: relative;
    width: 100%;
    top: 0;
    overflow: hidden;
    list-style-type: none;
    position: sticky;
    z-index: 500;
    box-shadow: 0 3px 5px 0  black; 
}

.canchinh{
    /* background-color: #6387FA; */
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

#button, #button a {
    color: white;
    width: 80%;
    font-size: 90%;
    height: 30%;
    margin: 8% 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 800;
    text-align: center;
    /* background-color: darkblue; */
    padding:;
}
#button:hover {
    background-color: white;
    /* font-size: 15px; */
    border-radius: 5px;
}

#button:hover a{
    color: #1B1B1B;
}
.hang{
    padding: 0 7.3%;
}
#sua{
    padding: 0% 0%;
}
#logo{
    /* background-color: grey; */
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0;
    margin: 0;
}
#user2, #user2 a {
    /* background-color: grey; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #1B1B1B;
    font-family: 'Montserrat';
    font-size: 93%;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
#user2:hover a{
    color: #ff8a00;
}
#user1{
    border-radius: 10px;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    padding: 2px 5px;
}
#user1:hover {
    background-color: #3D3838;
}
#ava {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    padding: 0;
    margin: 0;
    justify-items: flex-start;
    margin: 0 14px 0 0;
}
.row{
    margin: 0 0;
}
#ednav{
    margin: 0 -15px;
}
#ednav2{
    padding: 0 0;
}

/* -------------------- */

*{
    padding: 0;
    margin: 0;
}
.row{
    /* background-image: rgb(26, 32, 58); */
    margin-left: 0px;
    margin-right: 0px;
}
body{
    font-family: Montserrat;
    font-weight: 400;
}

.col-sm-9{
   text-align: left;

}

.col-sm-2{
     width: 100%; 
     background-color:  rgb(26, 32, 58); 
    /* box-shadow: 3px 0px 2px gray; */
}
.col-sm-10{
    background-color: white;
}
.button{
    border: none;
    color: white;
    /* padding: 10px 24px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    height: 45px;
    width: 112%;
    margin-left: -8%;
    padding-top: 5%;
    
}
.button-checked{
    border: none;
    color: white;
    /* padding: 10px 24px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    height: 45px;
    width: 112%;
    margin-left: -8%;
    padding-top: 5%;
    

}
.text-delete{
    color: black;
    margin-top: -45%;
    margin-left: 95%;
}
.button-member{
    margin-left: 55%;
    margin-top: -13%;
}
a:link{
    background-color: rgb(26, 32, 58) ;
    text-decoration: none;
    display: inline-block;
    color: white ;
}
a:hover {
    background-color:  rgb(34, 40, 63);
    color: white;
}
a:active{
    background-color: rgb(26, 32, 58) ;
    color: white;
}
a:visited{
    /* background-color: rgb(34, 40, 63) ; */
    color: white;
}
.button1{
    background-color: rgb(84, 6, 156);
    border: none;
    /* padding: 10px 24px; */
    display: inline-block;
    /* width: 109%; */
}
.navbar{
    background-color:rgb(26, 32, 58);
    height: 60px;
    width: 130%;
    margin-left: -15px;
    /* position: fixed; */
}
.form-inline{
    margin-right: 100px;
}
.search{
    height: 37px;
    width: 50%;
    background-origin: padding-box;
    border: none;
    border-radius: 3px;
    text-align: left;
    text-indent: 5%;
    margin-right: 10%;

}
.avt{
    margin-left: 75%;
    margin-top: -3%;

}
.icon-noti{
    margin-left: 1000px;
    margin-top: -33px;
}
.noti{
    text-indent: 100px;
}
.flat{
    width: 16%;
    height: 118%;
    margin-top: -3%;
    margin-left: -1.15%;
}
.hi{
    margin-right: 20%;
    margin-top: 7%;
    color: midnightblue;
    font-size: 19px;
}
.col-content{
    margin-right: 5%;
    margin-left: 5%; 
    margin-top: 6%;
    color: rgb(26, 32, 58);
}

.text{
    font-size: 15px;
}
.icon{
    position: fixed;
    height: 45px; 
    width: 15%;
    /* margin-top: 5%; */
}
.delete{
    margin-left: 60%;
    margin-top: -6%;
}
.date{
    margin-left: 70%;
    margin-top: 3%;
}


#icon{
    margin-right: 5px;
    padding: 5px;
    height: 30px;
    width: 30px;
}
#noti1{
    height: 80px;
    width: 220px;
    background-color: orchid;
    border-radius: 3px;
    padding: 30px;
}
#noti12{
    margin-top: 1%;
    text-align: center;
    position: static;
}
#link-text{
    color: blueviolet;
    background-color: white;
    font-size: 13px;
    margin-top: -15%;
}
#link-content{
    color: rgb(26, 32, 58);
    background-color: white;
    padding-left: 2%;
}
#link-tag{
    font-size: 15px;
    color: cornflowerblue;
    background-color: white;

}